:root {
/* Generel */
    --fontFamily: "Arial";
    --borderRadius: 0.5rem;
    --lineWidth: 1; 
    --spacing: 0.5rem;
    --textPadding: 0.25em;
    --boxShadow: 0 5px 20px rgba(0,0,0,0.1);
/* FontSizes */
    --radarHeadline: 30px;  
    --radarSelectionButton: 14px;
    --radarSectorHeadline: 24px;
    --radarSegmentHeadline: 18px;
    --radarRingHeadline: 18px;

    --radarLegendCardTitle: 16px;
    --radarLegendCardItemText: 14px;

    --radarBlipLegend: 14px;
    --radarBlipLegendSectorHeadline: 14px;
    --radarBlipLegendSegmentHeadline: 12px;
    --radarBlipLegendBlipText: 10px;
/* Colors */
    --primaryFontColor: #000000;
    --secondaryFondColor: #ffffff;
    --elementsBackgroundColor: #ffffff;
    --buttonHoverColor: #ecf0f1;
    --lineColor: rgba(178, 190, 195,1.0);
    --bubbleColor: rgba(178, 190, 195,1.0);
}  

/* #region div structur */
.radarContainer {
    display: grid;
    grid-template:
        'radarTitle'
        'radarSelection'
        'radar'
        'radarBlipLegend';
    grid-gap: var(--spacing);
    /* background-color: rgb(250, 250, 250); */
    background-color: rgb(230, 230, 230);
    border-radius: var(--borderRadius);
    padding: var(--spacing);
    font-family: var(--fontFamily);
    fill: var(--primaryFontColor);    
} 
.radarTitle {
    grid-area: radarTitle;
    font-size: var(--radarHeadline);
    padding: var(--textPadding);
    border-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
}
.radarSelection{
    grid-area: radarSelection;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-gap: var(--spacing);
}
.radar{
    grid-area: radar;
    background-color: var(--elementsBackgroundColor);
    border-radius: var(--borderRadius);
    padding: var(--spacing);
    height: min-content;
}
.radarBlipLegend{
    overflow: auto;
    grid-area: radarBlipLegend;
    display: grid;
    grid-auto-rows: min-content;
    gap: var(--spacing);
}
/* #endregion */

/* #region general classes */
.radarContainer .dropdown{
    position: relative;
    border-radius: var(--borderRadius);
    padding: var(--textPadding);
    user-select: none;
    cursor: pointer;
}
.radarContainer .dropdown:hover{
    background-color: var(--buttonHoverColor);
}
.radarContainer .dropdown .dropdownContent{
    position: absolute;
    display: none;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    background-color: var(--elementsBackgroundColor);
    width: 100%;
    left: 0;
}



/* #endregion */

/* #region radarSelection ------------------------------------------ */
.selectionButton{
    font-size: var(--radarSelectionButton);
    text-align: center;
    user-select: none;
    padding: var(--textPadding);
    border-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
}
.selectionButton:hover{
    background-color: var(--buttonHoverColor);
}
/* #endregion */

/* #region radar ------------------------------------------------ */
.radarContent{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: visible;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
}  
.radarContent .radarSVG{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; 
    /* margin: 8px;   */
    overflow: visible;
}  
 
/* #region Text ------------------------------------------------------- */
.sectorName{
font-size: var(--radarSectorHeadline);
font-weight: bold;
pointer-events: none;
user-select: none;
}  
.segmentHeadline{
font-size: var(--radarSegmentHeadline);
font-weight: bold;
text-anchor: middle;
pointer-events: none;
user-select: none;
}
.ringHeadline{
font-size: var(--radarRingHeadline);
font-weight: bold;
text-anchor: middle;
pointer-events: none;
user-select: none;
}
.methodStatesText {
vertical-align: middle;
pointer-events: none;
user-select: none;
}
.blipText {
/* font-size scales by blipSize set in config-File */
font-weight: bold;
/* fill: var(--secondaryFondColor); */
fill: white;
pointer-events: none;
user-select: none;    
}
.bubbleText {
/* font-size scales by blipSize set in config-File */
fill: var(--secondaryFondColor);
}
/* #endregion */

.radarBubble{    
    pointer-events: none;
    user-select: none;
}
.radarBubble .background{
    fill: var(--bubbleColor);
}
.radarLines{
    stroke-width: var(--lineWidth);
    stroke: var(--lineColor);
}  
/* #endregion */

/* #region radarLegend --------------------------------------------- */
.radarLegend{
    position: relative;
    border-radius: var(--borderRadius);
    font-size: var(--radarLegendCardTitle);
    font-weight: bold;
    cursor: pointer;
    margin-top: var(--spacing);
    padding: var(--textPadding);
}
.radarLegend:hover{
    background-color: var(--buttonHoverColor);
}
/* dropdown arrow */
.radarLegend::before{ 
    content: '';
    position: absolute;
    right: calc(var(--textPadding) * 2);
    top: var(--textPadding);
    z-index: 10000;
    width: calc(var(--radarLegendCardTitle) / 2);
    height: calc(var(--radarLegendCardTitle) / 2);
    border: 2px solid var(--primaryFontColor);
    border-top: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);
    transform: rotate(-45deg);
    transition: 250ms;
}
.radarLegend.active::before{
    top: 12px;
    transition: 500ms;
    transform: rotate(135deg);
}

.radarLegend .container{
    position: absolute;
    display: none;
    overflow: auto;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    background-color: var(--elementsBackgroundColor);
    width: 100%;
    height: 130px;    
    left: 0;
}
.radarLegend.active .container{
    display: block;
}
.radarLegend .card{
    font-size: var(--radarLegendCardItemText);
    font-weight: lighter;
    padding:  var(--spacing);
}
.radarLegend .cardTitle{
    padding: var(--textPadding);
    font-weight: bold;
}

.radarLegend .cardItem{
    position: relative;    
    border-radius: var(--borderRadius);
    padding:  var(--textPadding);
}
.radarLegend .cardItem:hover{
    background-color: var(--buttonHoverColor);
}
.radarLegend .cardItem .text{
    font-size: var(--radarLegendCardItemText);
    font-weight: lighter;
    text-decoration: none;
}
.radarLegend .cardItem .paddingText{
    font-size: var(--radarLegendCardItemText);
    padding-left: calc(var(--radarLegendCardItemText) + var(--textPadding));
    font-weight: lighter;
    text-decoration: none;
}
.radarLegend .cardItem .stateColor{
    position: absolute;
    top: calc(var(--radarLegendCardItemText) / 2);
    width: var(--radarLegendCardItemText);
    height: var(--radarLegendCardItemText);
    border-radius: 50%;
}
.radarLegend .cardItem .movementIndicator{
    position: absolute;
    top: calc(var(--radarLegendCardItemText) / 2);
    width: var(--radarLegendCardItemText);
    height: var(--radarLegendCardItemText);
    border: 2px solid black;
    border-radius: 50%;    
    transform: rotate(90deg);
}
.radarLegend .cardItem .movementIndicator.in{
    border-left: 2px solid rgba(0,0,0,0.25);
    border-right: 2px solid rgba(0,0,0,0.25);
    border-bottom: 2px solid rgba(0,0,0,0.25);
}
.radarLegend .cardItem .movementIndicator.out{
    border-left: 2px solid rgba(0,0,0,0.25);
    border-right: 2px solid rgba(0,0,0,0.25);
    border-top: 2px solid rgba(0,0,0,0.25);
}
/* #endregion */
  
/* #region radarBlipLegend ----------------------------------------- */    
.radarBlipLegend .legendSector{
    /* overflow: auto; */
    padding: calc(var(--textPadding) * 2);
    border-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);    
    min-width: max-content;    
    user-select: none;
    font-size: var(--radarBlipLegend);
    font-weight: bold;
}
.radarBlipLegend .legendSegment{
    padding: var(--textPadding);
    font-size: var(--radarBlipLegend);
    font-weight:lighter;
}
.radarBlipLegend .legendBlip{
    padding: var(--textPadding);
    border-radius: var(--borderRadius);
    font-size: var(--radarBlipLegend);      
}
.radarBlipLegend .legendBlip.active{
    background-color: var(--buttonHoverColor);
}
.radarBlipLegend .legendBlip:hover{
    opacity: 1;
    background-color: var(--buttonHoverColor);
}
/* #endregion */

/* for tablet or desktop */
@media screen and (min-width: 800px){
    .radarContainer{
        grid-template:
            'radarTitle radarTitle'
            'radarSelection radarSelection'
            'radarBlipLegend radar';
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: min-content min-content 0fr;
    }
    
}