:root {
  --elementsBackgroundColor: #fff;
  --hoverColor: #D5D5D5;
  --radarLegendFontSize: 12px;


    --primaryFontFamily: "Arial";
    --primaryFontColor: #424242;
    --secondaryFondColor: #ecf0f1;
    --segmentColor: #7e7e7e21;
    --lineWidth: 1;
    --lineColor: #8395a7;
    --bubbleColor: #646464;
    --borderRadius: 0.5rem;
}
  
  
  
  
  .radarDiv {
    background-color: rgb(235, 235, 235);
    border-radius: var(--borderRadius);
    padding: 0.5rem;
  } 
  
  .radarHeadlineDiv {
    font-family: var(--primaryFontFamily);
    font-size: 34px;
    fill: var(--primaryFontColor);

    padding: 0rem 0.5rem;

    border-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
  }

  .radarSelectionDiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.5rem;

    margin: 0.5rem 0rem;
  }

  .radarSelectionDiv .selectionButton{
    font-family: var(--primaryFontFamily);
    font-size: 16px;
    fill: var(--primaryFontColor);
    text-align: center;
    user-select: none;

    padding: 0px 8px;

    border-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
  }

  .radarSelectionDiv .selectionButton:hover{
    background-color: var(--hoverColor);
  }
  
  .radarSvgDiv{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;

    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
  }
  
  .radarSvgDiv .radarSVG{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; 
    margin: 24px;  
    overflow: visible;
  }
  
  .sectorHeadline{
    font-family: var(--primaryFontFamily);
    font-size: 24px;
    font-weight: bold;
    fill: var(--primaryFontColor);
    pointer-events: none;
    user-select: none;
  }
  
  .segmentHeadline{
    font-family: var(--primaryFontFamily);
    font-size: 18px;
    font-weight: bold;
    fill: var(--lineColor);
    pointer-events: none;
    user-select: none;
    text-anchor:middle;
  }
  .ringHeadline{
    font-family: var(--primaryFontFamily);
    font-size: 18px;
    font-weight: bold;
    fill: var(--lineColor);
    pointer-events: none;
    user-select: none;
    text-anchor:middle;
  }
  
  
  
  
  
  
  
  
  
  
 
  
  .methodStatesText {
    font-family: var(--primaryFontFamily);
    vertical-align: middle;
    fill: var(--primaryFontColor);
    pointer-events: none;
    user-select: none;
  }
  

  
  .blipText {
    font-family: var(--primaryFontFamily);
    font-weight: bold;
    pointer-events: none;
    user-select: none;
    fill: var(--secondaryFondColor);
  }
  
  .bubble {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
  .bubbleBackgroundColor {
    fill: var(--bubbleColor);
  }
  .bubbleText {
    font-family: var(--primaryFontFamily);
    /* font-size: 10px; */
    fill: var(--secondaryFondColor);
  }
  



  .radarLines{
    stroke-width: var(--lineWidth);
    stroke: var(--lineColor);
    /* fill:none; */
  }
  
 
  

.radarLegendDiv{
  background-color: var(--elementsBackgroundColor);
  margin-bottom: 0.5rem;
  /* border-radius: var(--borderRadius); */
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  padding: 0.5rem;


  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: minmax(auto, auto);
  gap: 0.5rem; */
}
.radarLegendDiv .headline{
  font-family: var(--primaryFontFamily);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.radarLegendDiv .headline .toggle{
  float: right;
}
.radarLegendDiv .content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: minmax(auto, auto);
  gap: 0.5rem;
}
.radarLegendDiv .subHeadline{
  font-family: var(--primaryFontFamily);
  font-size: 12px;
  box-shadow: 0px 2px  rgb(235, 235, 235);
  margin-bottom: 4px;
}


.radarLegendDiv .stateDiv{
  display: flex;
  align-items: center;
}
.radarLegendDiv .stateDiv .colorCode{
  height: var(--radarLegendFontSize);
  width: var(--radarLegendFontSize);
  border-radius: 50%;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}
.radarLegendDiv .stateDiv .text{
  font-family: var(--primaryFontFamily);
  font-size: var(--radarLegendFontSize);
  padding-left: 0.25rem;  
}
.radarLegendDiv .ringLegendDiv{
  display: block;
  /* align-items: center; */
}
.radarLegendDiv .ringLegendDiv .text{
  font-family: var(--primaryFontFamily);
  font-size: var(--radarLegendFontSize);
}



  
  
.radarBlipLegendDiv{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: minmax(auto, 15rem);
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.radarBlipLegendDiv .sectorDiv{
  overflow: auto;
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  background-color: var(--elementsBackgroundColor);    
  min-width: max-content;    
  user-select: none;
}
.radarBlipLegendDiv .sectorDiv .headline{
  font-family: var(--primaryFontFamily);
  font-size: 14px;
  font-weight: bold;
} 
.radarBlipLegendDiv .sectorDiv .segmentDiv{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.radarBlipLegendDiv .sectorDiv .segmentDiv .headline{
  font-family: var(--primaryFontFamily);
  font-size: 12px;
  margin: 0;
  font-weight:lighter;
}
.radarBlipLegendDiv .sectorDiv .segmentDiv .blipList{
  margin: 0;
  list-style: none;
}
.radarBlipLegendDiv .sectorDiv .segmentDiv .blipList .item{
  font-family: var(--primaryFontFamily);
  font-size: 10px;
  font-weight:lighter;
  padding: 0rem 0.5rem;
  border-radius: var(--borderRadius);
}
.radarBlipLegendDiv .sectorDiv .segmentDiv .blipList .itemHover{
  background-color: var(--hoverColor);
}