:root {
/* Generel */
    --fontFamily: "Arial";
    --borderRadius: 0.5rem;
    --lineWidth: 1; 
    --spacing: 0.5rem;
    --textPadding: 0.25em;
    --dropdownBoxShadow: 0 5px 20px rgba(0,0,0,0.1);
/* FontSizes */
    --radarDropdown: 16px;
    --radarCardTitle: 16px;
    --radarCardItem: 14px;
    --radarName: 30px;  
    --radarSelectionButton: 14px;
    --radarSectorName: 16px;
    --radarLegendCardItemText: 14px;
    --radarBlipLegendSector: 14px;
    --radarBlipLegendSegment: 12px;
    --radarBlipLegendBlip: 10px;
/* Colors */
    --primaryFontColor: #000000;
    --secondaryFontColor: #ffffff;
    --cardBackgroundColor: #ffffff;
    --buttonHoverColor: #ecf0f1;
    --lineColor: rgba(178, 190, 195,1.0);
    --bubbleColor: rgba(178, 190, 195,1.0);
}  

/* #region div structur */
.radarContainer {
    display: grid;
    grid-template:
        'radarTitle'
        'radarSelection'
        'radar'
        'radarBlipLegend';
    grid-gap: var(--spacing);
    /* background-color: rgb(250, 250, 250); */
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: var(--borderRadius);
    padding: var(--spacing);
    font-family: var(--fontFamily);
    fill: var(--primaryFontColor);    
} 
.radarTitle {
    grid-area: radarTitle;
    font-size: var(--radarName);
    padding: var(--textPadding);
    border-radius: var(--borderRadius);
    background-color: var(--cardBackgroundColor);
}
.radarSelection{
    grid-area: radarSelection;
}
.radar{
    grid-area: radar;
    background-color: var(--cardBackgroundColor);
    border-radius: var(--borderRadius);
    padding: var(--spacing);
    height: min-content;
}
.radarLegend{
    margin-top: var(--spacing);
}
.radarBlipLegend{
    overflow: auto;
    grid-area: radarBlipLegend;
    display: grid;
    grid-auto-rows: min-content;
    gap: var(--spacing);
}
/* #endregion */

/* #region dropdown */
.radarContainer .dropdown{
    position: relative;
    border-radius: var(--borderRadius);
    padding: var(--textPadding);
    user-select: none;
    cursor: pointer;
    background-color: var(--cardBackgroundColor);
    font-size: var(--radarDropdown);
}
.radarContainer .dropdown:hover{
    background-color: var(--buttonHoverColor);
}
/* dropdown arrow */
.radarContainer .dropdown::before{
    content: '';
    position: absolute;
    right: calc(var(--textPadding) * 2);
    top: calc(var(--textPadding) * 2);
    z-index: 10000;
    width: calc(var(--radarDropdown) / 2);
    height: calc(var(--radarDropdown) / 2);
    border: 2px solid var(--primaryFontColor);
    border-top: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);
    transform: rotate(-45deg);
    transition: 250ms;
}
.radarContainer .dropdown.active::before{
    top: calc(var(--textPadding) * 3);
    transform: rotate(135deg);
}
.radarContainer .dropdownText{
    width: 100%;
    height: 100%;
}
.radarContainer .dropdown .dropdownContent{
    position: absolute;
    display: none;
    z-index: 10000;
    border-radius: var(--borderRadius);
    box-shadow: var(--dropdownBoxShadow);
    background-color: var(--cardBackgroundColor);
    width: 100%;
    left: 0;
    margin-top: var(--spacing);
}
.radarContainer .dropdown.active .dropdownContent{
    display: block;
}
/* #endregion */

/* #region card */
.radarContainer .card{
    padding: var(--spacing);
    background-color: var(--cardBackgroundColor);  
    border-radius: var(--borderRadius);
}
.radarContainer .subCard{
    padding: 0; 
    border-radius: var(--borderRadius);
}
.radarContainer .cardTitle{
    padding: var(--textPadding);
    font-size: var(--radarCardTitle);
    font-weight: bold;
}
.radarContainer .cardItem{
    position: relative;    
    border-radius: var(--borderRadius);
    padding:  var(--textPadding);
    cursor: pointer;
}
.radarContainer .cardItem:hover{
    background-color: var(--buttonHoverColor);
}
.radarContainer .cardItem.active{
    background-color: var(--buttonHoverColor);
}
.radarContainer .cardItem .text{
    font-size: var(--radarCardItem);
    font-weight: lighter;
    text-decoration: none;
}

/* #endregion */

/* #region radarSelection ------------------------------------------ */
.radarContainer .radarSelection{
    text-align: center;
}
.radarContainer .selectionButton{
    font-size: var(--radarSelectionButton);
    text-align: center;
    user-select: none;
    padding: var(--textPadding);
    border-radius: var(--borderRadius);
    background-color: var(--cardBackgroundColor);
}
.radarContainer .selectionButton:hover{
    background-color: var(--buttonHoverColor);
}
/* #endregion */

/* #region radar ------------------------------------------------ */
.radarContent{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: visible;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    background-color: var(--cardBackgroundColor);
}  
.radarContent .radarSVG{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; 
    /* margin: 8px;   */
    overflow: visible;
}  
 
/* #region Text ------------------------------------------------------- */
.sectorName{
font-size: var(--radarSectorName);
font-weight: bold;
pointer-events: none;
user-select: none;
}  
.segmentHeadline{
font-size: var(--radarSegmentHeadline);
font-weight: bold;
text-anchor: middle;
pointer-events: none;
user-select: none;
}
.ringHeadline{
font-size: var(--radarRingHeadline);
font-weight: bold;
text-anchor: middle;
pointer-events: none;
user-select: none;
}
.methodStatesText {
vertical-align: middle;
pointer-events: none;
user-select: none;
}
.blipText {
/* font-size scales by blipSize set in config-File */
font-weight: bold;
/* fill: var(--secondaryFontColor); */
fill: white;
pointer-events: none;
user-select: none;    
}
.bubbleText {
/* font-size scales by blipSize set in config-File */
fill: var(--secondaryFontColor);
}
/* #endregion */

.radarBubble{    
    pointer-events: none;
    user-select: none;
}
.radarBubble .background{
    fill: var(--bubbleColor);
}
.radarLines{
    stroke-width: var(--lineWidth);
    stroke: var(--lineColor);
}  
.radarContainer .blip{
    cursor: pointer;
}
/* #endregion */

/* #region radarLegend --------------------------------------------- */
.radarLegend .dropdownContent{
    height: 14rem;
    overflow: auto;
}
.radarLegend .paddingText{
    font-size: var(--radarLegendCardItemText);
    padding-left: calc(var(--radarLegendCardItemText) + var(--textPadding));
    font-weight: lighter;
    text-decoration: none;
}
.radarLegend .stateColor{
    position: absolute;
    top: 25%;
    width: var(--radarLegendCardItemText);
    height: var(--radarLegendCardItemText);
    border-radius: 50%;
}
.radarLegend .movementIndicator{
    position: absolute;
    top: 25%;
    width: var(--radarLegendCardItemText);
    height: var(--radarLegendCardItemText);
    border: 2px solid black;
    border-radius: 50%;    
    transform: rotate(90deg);
}
.radarLegend .movementIndicator.in{
    border-left: 2px solid rgba(0,0,0,0.25);
    border-right: 2px solid rgba(0,0,0,0.25);
    border-bottom: 2px solid rgba(0,0,0,0.25);
}
.radarLegend .movementIndicator.out{
    border-left: 2px solid rgba(0,0,0,0.25);
    border-right: 2px solid rgba(0,0,0,0.25);
    border-top: 2px solid rgba(0,0,0,0.25);
}
/* #endregion */
  
/* #region radarBlipLegend ----------------------------------------- */    
.radarContainer .blipLegendSector{
    font-size: var(--radarBlipLegendSector);
    font-weight: bold;
}
.radarContainer .blipLegendSegment{
    font-size: var(--radarBlipLegendSegment);
    font-weight: lighter;
}
.radarContainer .blipLegendBlip{
    font-size: var(--radarBlipLegendBlip);      
}
/* #endregion */

/* for tablet or desktop */
@media screen and (min-width: 800px){
    .radarContainer{
        display: grid;
        grid-template:
            'radarTitle radarTitle'
            'radarSelection radarSelection'
            'radarBlipLegend radar';
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: min-content min-content 0fr;
    }    
}