:root {
/* Generel */
    --fontFamily: "Arial";
    --borderRadius: 0.5rem;
    --lineWidth: 1; 
/* FontSizes */
    --radarHeadline: 30px;  
    --radarSelectionButton: 14px;
    --radarSectorHeadline: 24px;
    --radarSegmentHeadline: 18px;
    --radarRingHeadline: 18px;
    --radarLegendHeadline: 14px;
    --radarLegendSubHeadline: 12px;
    --radarLegendFontSize: 12px;
    --radarBlipLegend: 14px;
    --radarBlipLegendSectorHeadline: 14px;
    --radarBlipLegendSegmentHeadline: 12px;
    --radarBlipLegendBlipText: 10px;
/* Colors */
    --primaryFontColor: #424242;
    --secondaryFondColor: #ecf0f1;
    --elementsBackgroundColor: #fff;
    --buttonHoverColor: #ecf0f1;
    --lineColor: rgba(178, 190, 195,1.0);
    --bubbleColor: rgba(178, 190, 195,1.0);
}  

/* #region div structur */
.radarContainer {
    display: grid;
    grid-template:
        'radarTitle'
        'radarSelection'
        'radar'
        'radarBlipLegend';
    grid-gap: 0.5rem;
    /* background-color: rgb(250, 250, 250); */
    background-color: rgb(230, 230, 230);
    border-radius: var(--borderRadius);
    padding: 0.5rem;

    font-family: var(--fontFamily);
    fill: var(--primaryFontColor);    
} 
.radarTitle {
    grid-area: radarTitle;
    font-size: var(--radarHeadline);
    padding: 0rem 0.5rem;
    border-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
}
.radarSelection{
    grid-area: radarSelection;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-gap: 0.5rem;
}
.radar{
    grid-area: radar;
    background-color: var(--elementsBackgroundColor);
    border-radius: var(--borderRadius);
    padding: 0.5rem;
}
.radarBlipLegend{
    grid-area: radarBlipLegend;
    display: grid;
    grid-auto-rows: minmax(auto, 15rem);
    gap: 0.5rem;
}
/* #endregion */

/* #region radarSelection ------------------------------------------ */
.selectionButton{
    font-size: var(--radarSelectionButton);
    text-align: center;
    user-select: none;
    padding: 0.25rem 0.5rem;
    border-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
}
.selectionButton:hover{
    background-color: var(--buttonHoverColor);
}
/* #endregion */

/* #region radar ------------------------------------------------ */
.radarContent{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: visible;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    background-color: var(--elementsBackgroundColor);
}  
.radarContent .radarSVG{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; 
    /* margin: 8px;   */
    overflow: visible;
}  
 
/* #region Text ------------------------------------------------------- */
.sectorHeadline{
font-size: var(--radarSectorHeadline);
font-weight: bold;
pointer-events: none;
user-select: none;
}  
.segmentHeadline{
font-size: var(--radarSegmentHeadline);
font-weight: bold;
text-anchor: middle;
pointer-events: none;
user-select: none;
}
.ringHeadline{
font-size: var(--radarRingHeadline);
font-weight: bold;
text-anchor: middle;
pointer-events: none;
user-select: none;
}
.methodStatesText {
vertical-align: middle;
pointer-events: none;
user-select: none;
}
.blipText {
/* font-size scales by blipSize set in config-File */
font-weight: bold;
/* fill: var(--secondaryFondColor); */
fill: white;
pointer-events: none;
user-select: none;    
}
.bubbleText {
/* font-size scales by blipSize set in config-File */
fill: var(--secondaryFondColor);
}
/* #endregion */

.radarBubble{    
    pointer-events: none;
    user-select: none;
}
.radarBubble .background{
    fill: var(--bubbleColor);
}
.radarLines{
    stroke-width: var(--lineWidth);
    stroke: var(--lineColor);
}  
/* #endregion */

/* #region radarLegend --------------------------------------------- */
.radarLegend{
    position: relative;
    font-size: var(--radarLegendHeadline);
    font-weight: bold;
    user-select: none;
    margin-top: 0.5rem;
    padding:  0.25rem 0.5rem;
    min-height: 20px;    
}
.radarLegend:hover{
    background-color: var(--buttonHoverColor);
}
/* dropdown arrow */
.radarLegend::before{ 
    content: '';
    position: absolute;
    right: 12px;
    top: 4px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid var(--primaryFontColor);
    border-top: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);
    transform: rotate(-45deg);
    transition: 250ms;
}
.radarLegend.active::before{
    top: 12px;
    transition: 500ms;
    transform: rotate(135deg);
}

.radarLegend .container{
    display: none;
    margin-top: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: minmax(auto, auto);
    gap: 0.5rem;
}
.radarLegend.active .container{
    display: grid;
}
.radarLegend .card{
    font-size: var(--radarLegendSubHeadline);
    font-weight: lighter;
    padding:  0.25rem 0;
}
.radarLegend .cardTitle{
    padding-top: 0.25rem;
}
.radarLegend hr{
   margin: 0;
}
.radarLegend .cardItem{
    font-size: var(--radarLegendSubHeadline);
    font-weight: lighter;
    padding:  0.25rem 0;
}
.radarLegend .cardItem:hover{
    background-color: var(--buttonHoverColor);
}
/* #endregion */
  
  /* #region radarBlipLegend ----------------------------------------- */    
    .radarBlipLegend .legendSector{
      overflow: auto;
      padding: 0.5rem;
      border-radius: var(--borderRadius);
      background-color: var(--elementsBackgroundColor);    
      min-width: max-content;    
      user-select: none;
      font-size: var(--radarBlipLegend);
      font-weight: bold;
    }
    .radarBlipLegend .legendSegment{
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      padding: 0rem 0.5rem;
      font-size: var(--radarBlipLegend);
      font-weight:lighter;
    }
    .radarBlipLegend .legendBlip{
      padding: 0rem 0.5rem;
      border-radius: var(--borderRadius);
      font-size: var(--radarBlipLegend);      
    }
    .radarBlipLegend .legendBlip.active{
        background-color: var(--buttonHoverColor);
    }
    .radarBlipLegend .legendBlip:hover{
        opacity: 1;
        background-color: var(--buttonHoverColor);
    }
    /* #endregion */

/* for tablet or desktop */
@media screen and (min-width: 480px){
    .radarContainer{
        grid-template:
            'radarTitle radarTitle'
            'radarSelection radarSelection'
            'radarBlipLegend radar';
        grid-template-columns: minmax(min-content, auto) 60%;
        grid-template-rows: min-content min-content ;
    }
    .radarBlipLegend{
        grid-auto-columns: auto;
        grid-auto-rows: minmax(min-content, auto);
        overflow: auto;
    }
}